body{
    border: 0 ;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family:cursive;
    cursor: pointer;
    /* background-color: rgba(59, 48, 48, 0.801); */
}
ul li{
    text-decoration: none;
    list-style: none;
}
h2{
    color: #000;
    margin-top: auto;
    text-align: center;
    justify-content: center;
    
}
.book-searchDetails{
    margin-top: 50px;
}


#total-result{
    display: none;
}
/* Loading Part Css Start */
#loading{
    display: none;
}
/* Loading Part Css End */

/* Search Rrsult Part Css Start */
#search-details{
    display: none;
}
/* Search Rrsult Part Css End. */


/* Dynamic book Patr  Start*/
/* #display-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
} */

