body{
    border: 0 ;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family:cursive;
    cursor: pointer;
    /* background-color: rgba(59, 48, 48, 0.801); */
}
ul li{
    text-decoration: none;
    list-style: none;
}
/* Title Part Start */
h2{
    color: #000;
    margin-top: auto;
    text-align: center;
    justify-content: center;
    
}
/* Title Part End */

/* Display Amount of  total books part start */
h3{
    font-size: 20px;
    font-weight: 700;
    margin-left: 200px;
    text-align: left;
    justify-content: left;
}
/* Display Amount of  total books part end. */

/* Display Search Part start */
.book-searchDetails{
    margin-top: 50px;
}
/* Display Search Part End */

/* Display Card Part start */
.card-details{
    margin-top: 250px;
}
/* Display Card Part End */

/* Loading Part Css Start */
#loading{
    display: none;
}
/* Loading Part Css End */

/* Search Rrsult Part Css Start */
#search-details{
    color: red;
    font-size: 20px;
    display: none;
}
/* Search Rrsult Part Css End. */

